<%- model_class = Imovel -%>

<% resource ||= resource %>


<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted"><%= model_class.human_attribute_name(:nome) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:nome) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted"><%= model_class.human_attribute_name(:endereco) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:endereco) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted"><%= model_class.human_attribute_name(:cep) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:cep) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted"><%= model_class.human_attribute_name(:morador_id) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:morador).nome %></span>
    </div>
  
</div>
<div class="row mb-7">
  
</div>

<div class="row mb-7 mt-3">
  <%= render partial: "audits/table", locals: {audits: resource.try(:own_and_associated_audits), show_collapse: 'show'} %>
</div>