<div data-kt-menu-trigger="click" class='menu-item menu-accordion <%= active_collapse_menu?([["leituras", "*"]]) %>'>
  <!--begin:Menu link-->
  <span class="menu-link">
    <span class="menu-icon">
      <i class="ki-duotone ki-call fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
        <span class="path7"></span>
        <span class="path8"></span>
      </i>
    </span>
    <span class="menu-title">Leitura</span>
    <span class="menu-arrow"></span>
  </span>
  <!--end:Menu link-->
  <!--begin:Menu sub-->
  <div class="menu-sub menu-sub-accordion">
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= leituras_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Lista</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= new_leitura_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Novo(a)</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
  </div>
  <!--end:Menu sub-->
</div>
<div data-kt-menu-trigger="click" class='menu-item menu-accordion <%= active_collapse_menu?([["imoveis", "*"]]) %>'>
  <!--begin:Menu link-->
  <span class="menu-link">
    <span class="menu-icon">
      <i class="ki-duotone ki-call fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
        <span class="path7"></span>
        <span class="path8"></span>
      </i>
    </span>
    <span class="menu-title">Imoveis</span>
    <span class="menu-arrow"></span>
  </span>
  <!--end:Menu link-->
  <!--begin:Menu sub-->
  <div class="menu-sub menu-sub-accordion">
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= imoveis_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Lista</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= new_imovel_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Novo(a)</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
  </div>
  <!--end:Menu sub-->
</div>
<div data-kt-menu-trigger="click" class='menu-item menu-accordion <%= active_collapse_menu?([["moradores", "*"]]) %>'>
  <!--begin:Menu link-->
  <span class="menu-link">
    <span class="menu-icon">
      <i class="ki-duotone ki-call fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
        <span class="path7"></span>
        <span class="path8"></span>
      </i>
    </span>
    <span class="menu-title">Moradores</span>
    <span class="menu-arrow"></span>
  </span>
  <!--end:Menu link-->
  <!--begin:Menu sub-->
  <div class="menu-sub menu-sub-accordion">
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= moradores_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Lista</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= new_morador_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Novo(a)</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
  </div>
  <!--end:Menu sub-->
</div>
<div data-kt-menu-trigger="click" class='menu-item menu-accordion <%= active_collapse_menu?([["taxas", "*"]]) %>'>
  <!--begin:Menu link-->
  <span class="menu-link">
    <span class="menu-icon">
      <i class="ki-duotone ki-call fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
        <span class="path7"></span>
        <span class="path8"></span>
      </i>
    </span>
    <span class="menu-title">Taxas</span>
    <span class="menu-arrow"></span>
  </span>
  <!--end:Menu link-->
  <!--begin:Menu sub-->
  <div class="menu-sub menu-sub-accordion">
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= taxas_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Lista</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
      <!--begin:Menu link-->
      <a class="menu-link" href='<%= new_taxa_path %>'>
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Novo(a)</span>
      </a>
      <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
  </div>
  <!--end:Menu sub-->
</div>
